{{#> Modal title = "Log in"}}
        <form class="login_form">
            {{> Input type="login" label="login"}}
            {{> Input type="password" label="password" error=true}}

            {{> Button text="Sign in" type="primary"}}
            {{> Button text="Sign up" type="link"}}
        </form>
{{/Modal}}
