<button class="button button_{{type}} button_{{type}}_{{modificator}}">
    {{#if (eq modificator 'arrow-right')}}
        <img class="svg" src="./assets/icons/arrow-right.svg">
    {{/if}}
    {{#if (eq modificator 'arrow-left')}}
        <img class="svg" src="./assets/icons/arrow-left.svg">
    {{/if}}
    {{text}}

    

</button>