<button class="button button_{{type}} button_{{type}}_{{modificator}}">
    {{#if (eq modificator 'arrow-right')}}
        <img class="svg" src="./assets/icons/arrow-right.svg" alt="arror right">
    {{/if}}
    {{#if (eq modificator 'arrow-left')}}
        <img class="svg" src="./assets/icons/arrow-left.svg" alt="arror left">
    {{/if}}
    {{text}}
</button>
