<ul>
    <li><a href="#" page="login">login</a></li>
    <li><a href="#" page="registration">registration</a></li>
    <li><a href="#" page="messenger">messenger</a></li>
    <li><a href="#" page="profile">profile</a></li>
    <li><a href="#" page="404">404</a></li>
    <li><a href="#" page="500">500</a></li>
    <li><a href="#" page="modals">modals</a></li>
</ul>

