<div class="profile">
    <aside class="profile_asside asside">
        {{> Button type="secondary" modificator="arrow-left"}}
    </aside>
    <main class="profile_main">
        <img class="profile_avatar avatar" alt="my avatar" src="./assets/images/profile.jpg"></img>
        <form class="profile_form">
            {{> Input type="email" label="email" modificator="wide"}}
            {{> Input type="login" label="login" modificator="wide"}}
            {{> Input type="first_name" label="first name" modificator="wide"}}
            {{> Input type="second_name" label="last name" modificator="wide" error="ture"}}
            {{> Input type="display_name" label="nickname" modificator="wide"}}
            {{> Input type="phone"  label="phone" modificator="wide"}}
            {{> Input type="password" label="password" modificator="wide"}}
            {{> Button text="change data" type="link" modificator="wide"}} 
            {{> Button text="change password" type="link" }}
                {{> Input type="oldPassword" label="old password" modificator="wide"}}
                {{> Input type="newPassword" label="new password" modificator="wide"}}

            {{> Button text="exit" type="link" modificator="dangerous"}}
        </form>
    </main>
</div>
