

{{#> Modal title = "Sign up"}}
       <form class="registration_form">
            {{> Input type="email" label="email"}}
            {{> Input type="login" label="login"}}
            {{> Input type="first_name" label="first name"}}
            {{> Input type="second_name" label="last name"}}
            {{> Input type="phone"  label="phone"}}
            {{> Input type="password" label="password"}}
            {{> Input type="password_confirm" label="confirm password"}}
            {{> Button text="Sign up" type="primary"}}
            {{> Button text="Sign in" type="link"}}
        </form>
{{/Modal}}
