.toggle-menu{
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: auto;
    border: black 3px solid;
    border-radius: 12px;
    background-image: url('/src/assets/images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 50px;
    right: 50px;
}

.display{
    display: none!important;
}

.display-active{
    display: flex;
}

