.messenger{
    display: flex;
    width: 100%;
    height: 100vh;
    border-right: black solid 1px;
    overflow-y: hidden; 

}

.messenger_asside{
    width: 40%;
    border: black solid 1px;
    margin: -1px; 
}

.messenger_main{
    width:100%;
    display:flex;
    flex-direction: column;
}

.asside_list.list {
    max-height: calc(100vh - 125px); 
    overflow-y: auto; 
}

.asside_header{
    padding: 10px;
    background-image: url('../../assets/images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    flex-direction: column;
    height: 125px; 
}

.header_buttons{
    display:flex;
}
