{{#> Modal  title = "add contact"}}
        <form class="new-contact_form form">
            {{> Input type="login" label="login"}}
            {{> Button text="Add" type="primary"}}
        </form>
{{/Modal}}

{{#> Modal  title = "delete contact"}}
        <form class="remove-contact_form form">
            {{> Input type="login" label="login"}}
            {{> Button text="delete" type="primary"}}
        </form>
{{/Modal}}


{{#> Modal  title = "upload file"}}
        <form class="upload-file_form form">
            {{> Button text="select file on computer" type="link"}}
            {{> Button text="change" type="primary"}}
        </form>
{{/Modal}}


