
<img class="cover-screen_image" src="./assets/images/background.jpg">
<div class="cover-screen">
    
    <div class="cover-screen_content">
        <h1>{{code}}</h1>
        <p>{{text}}</p>
        <div class="cover-screen_button">
            {{> Button type="link" text="back to chat" }}
        </div>
       
    </div>
    
</div>

